## Preprocessing

In [2]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN","NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_cat = application_df.nunique()
application_cat

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts().reset_index()
app_type.head()

  index  APPLICATION_TYPE
0    T3             27037
1    T4              1542
2    T6              1216
3    T5              1173
4   T19              1065

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = app_type[app_type['APPLICATION_TYPE'] <= 156]['index']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts().reset_index()
classification_count

    index  CLASSIFICATION
0   C1000           17326
1   C2000            6074
2   C1200            4837
3   C3000            1918
4   C2100            1883
..    ...             ...
66  C4120               1
67  C8210               1
68  C2561               1
69  C4500               1
70  C2150               1

[71 rows x 2 columns]

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_filtered  = classification_count[classification_count['CLASSIFICATION'] > 1]
classification_filtered.head()

   index  CLASSIFICATION
0  C1000           17326
1  C2000            6074
2  C1200            4837
3  C3000            1918
4  C2100            1883

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = classification_count[classification_count['CLASSIFICATION'] < 1883]['index']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
numerical_df = pd.get_dummies(application_df)
numerical_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = numerical_df["IS_SUCCESSFUL"].values
y = y.reshape(-1,1)
X = numerical_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

<ipython-input-12-9b4e3f929aca>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = numerical_df.drop(["IS_SUCCESSFUL"],1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=80,
        step=5), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 3)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=80,
            step=5),
            activation=activation))
    
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn

In [18]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [19]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 56 Complete [00h 01m 23s]
val_accuracy: 0.7318950295448303

Best val_accuracy So Far: 0.7344606518745422
Total elapsed time: 00h 21m 02s

In [20]:
# Get best model hyperparameters
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'tanh', 'first_units': 26, 'num_layers': 3, 'units_0': 66, 'units_1': 6, 'units_2': 36, 'tuner/epochs': 7, 'tuner/initial_epoch': 0, 'tuner/bracket': 1, 'tuner/round': 0}
{'activation': 'tanh', 'first_units': 31, 'num_layers': 2, 'units_0': 76, 'units_1': 16, 'units_2': 76, 'tuner/epochs': 20, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 36, 'num_layers': 3, 'units_0': 21, 'units_1': 76, 'units_2': 41, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0040'}

In [21]:
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5552 - accuracy: 0.7345 - 549ms/epoch - 2ms/step
Loss: 0.5551843047142029, Accuracy: 0.7344606518745422
268/268 - 1s - loss: 0.5522 - accuracy: 0.7335 - 522ms/epoch - 2ms/step
Loss: 0.552236020565033, Accuracy: 0.7335277199745178
268/268 - 1s - loss: 0.5539 - accuracy: 0.7335 - 550ms/epoch - 2ms/step
Loss: 0.5539397597312927, Accuracy: 0.7335277199745178

In [22]:
# Creating model based on the top hyperparameter

nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.layers.Dense(units = 26, activation = 'relu', input_dim = 43))
# First hidden layer
nn.add(tf.keras.layers.Dense(units = 66, activation = 'relu'))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units = 36, activation = 'relu'))

# nn.add(tf.keras.layers.Dense(units = 61, activation = 'relu'))

# nn.add(tf.keras.layers.Dense(units = 61, activation = 'relu'))

# nn.add(tf.keras.layers.Dense(units = 20, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'Adam', metrics = ['accuracy'])

In [23]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5738 - accuracy: 0.7172
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7264
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7276
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7294
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7314
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7320
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7315
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7330
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7332
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7337
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7348
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7348
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7359
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7354
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7357
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7355
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7361
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7362
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7365
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7357
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7367
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7377
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7365
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7372
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7364
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7377
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7376
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7376
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7373
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7382
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7376
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7391
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7377
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7381
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7381
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7382
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7387
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7391
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7382
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7394
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7390
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7405
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7387
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7390
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7402
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7400
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7405
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7378
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7397
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7404
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7399
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7401
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7388
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7404

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5651 - accuracy: 0.7310 - 487ms/epoch - 2ms/step
Loss: 0.5651293396949768, Accuracy: 0.7309620976448059

In [ ]:
# Export our model to HDF5 file


nn.save('AlphabetSoupCharity_Optimization.h5')